<header>
  {{> header }}
</header>
<body>
  {{{ body }}}
</body>
<footer>
  {{> footer }}
</footer>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
    background-color: darkblue;
  }
  header, footer {
    background-color: yellow;
    color: black;
    text-align: center;
  }
</style>
