<h3>Olá, {{ student.name }}</h3>
<p>Sua matrícula foi efetuada com sucesso!</p>
<p>Você contratou o plano <strong>{{ program.title }}</strong>
  que é válido até: <strong>{{ end_date }}</strong></p>
<br />
<p>
  <small>
    Não esqueça de fazer seus checkins com o GymPoint!
  </small>
</p>
