<h3>Olá, {{ student }}</h3>
<p>Seu pedido de ajuda foi respondido em {{ answered_at }}!</p>
<p><strong>Sua pergunta foi:</strong> {{ question }}</p>
<p><strong>Aqui está a resposta da GymPoint: </strong>{{ answer }}</p>
<br />
<p>
  <small>
    Qualquer dúvida fique a vontade para criar novos pedidos de ajuda!
  </small>
</p>
